POSTGRES_DB=homelingua
POSTGRES_USER=homelingua
APP_PORT=3000
ADMINER_PORT=8080
INITIAL_ADMIN_NAME=Family Administrator
APP_VERSION=development
BACKUP_RETENTION_DAYS=30
CONTENT_WORKER_CONCURRENCY=2
CONTENT_WORKER_RATE_MAX=20
CONTENT_WORKER_RATE_DURATION_MS=60000
CONTENT_WORKER_LOCK_MS=120000
